#
# Copyright 2021 Huawei France Technologies SASU
#
# SPDX-License-Identifier: Apache-2.0
#

config SOC_FAMILY_AMLOGIC
	bool

if SOC_FAMILY_AMLOGIC

config SOC_FAMILY
	string
	default "amlogic"

source "soc/arm64/amlogic/*/Kconfig.soc"

config SOC_PART_NUMBER
	default "a311d" if SOC_SERIES_A311D

endif # SOC_FAMILY_ROCKCHIP
